<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    <h1>Welcome, {{session['first_name']}}</h1>
    <p><a href="/display/recipe/new">Create</a></p>
    <p><a href="/user/logout">Logout</a></p>
    <div>
        All posted recipes: 
    </div>
    <table>
        <!-- we need to loop through the recipes -->
        <tr>
            <th>name</th>
            <th>under 30</th>
            <th>posted by</th>
            <th>actions</th>
        </tr>
        {%for recipe in  list_recipes: %}
            <tr>
                <td>{{recipe.name}}</td>
                <td>
                    {%if recipe.under_30 == 1: %}
                        Yes
                    {%else: %}
                        No
                    {%endif%}
                </td>
                <td>{{recipe.user.first_name}} {{recipe.user.last_name}}</td>
                <td>
                    <a href="/recipes/{{recipe.id}}">view recipe</a>
                    {%if session['user_id'] == recipe.user.id: %}
                    <a href="/recipes/{{recipe.id}}/update">edit</a>
                    <a href="/recipes/{{recipe.id}}/delete">delete</a>
                    {%endif%}
                </td>
            </tr>
        {%endfor%}
    </table>
</body>
</html>