<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
</head>
<body>
    <h1>Add a New Recipe</h1>
    <p><a href="/recipes">Back to recipes</a></p>
    <p><a href="#">Logout</a></p>
    <form method='POST' action="/recipe/update/{{recipe.id}}">
        <div>
            <label>
                Name:
            </label>
            <input type="text" name="name" value="{{recipe.name}}"/> 
            {% for message in get_flashed_messages( category_filter = ['error_recipe_name'])%}
                {{message}}
            {%endfor%}
        </div>
        </div>
        <div>
            <label>
                Description: 
            </label>
            <textarea name="description" type="text">{{recipe.description}}</textarea>
            {% for message in get_flashed_messages( category_filter = ['error_recipe_description'])%}
                {{message}}
            {%endfor%}
        </div>
        </div>
        <div>
            <label>
                Instructions: 
            </label>
            <textarea name="instructions" type="text" >{{recipe.instructions}}</textarea>
            {% for message in get_flashed_messages( category_filter = ['error_recipe_instructions'])%}
                {{message}}
            {%endfor%}
        </div>
        </div>
        <div>
            <label>
                Date cooked/made:
            </label>
            <input type="date" name="cooked_date" />
            {% for message in get_flashed_messages( category_filter = ['error_cooked_date'])%}
                {{message}}
            {%endfor%}
        </div>
        </div>
        <div>
            <label>
                Under 30 minutes: 
            </label>
            <div>
                Yes: <input type="radio" name="under_30" value="1">
                No: <input type="radio" name="under_30" value="0">
            </div>
        <button>Submit</button>
    </form>
</body>
</html>