<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>{{name}}</h2>
        <!-- <div class="info">
            <label>Name: </label>
            <p>{{name}}</p>
        </div> -->
        <div class="info">
            <label>Location: </label>
            <p>{{location}}</p>
        </div>
        <div class="info"> 
            <label>Favorite Language: </label>
            <p>{{language}}</p>
        </div>
        <div class="info">
            <label>Comment: </label>
            <p>{{comment}}</p>
        </div>
        <a href="/">home</a>
    </div>
</body>
</html>