<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {%with messages = get_flashed_messages()%}
        {%if messages%}
            {%for message in messages%}
                {{message}}
            {%endfor%}
        {%endif%}
    {%endwith%}
    <form action="/register" method="post">
        <h1>Register</h1>
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name">
        <!-- {%for message in get_flashed_messages(category_filter=["error_first_name"])%}
            {{message}}
        {%endfor%} -->
        <br>
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name">
        <!-- {%for message in get_flashed_messages(category_filter=["error_last_name"])%}
            {{message}}
        {%endfor%} -->
        <br>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email">
        <!-- {%for message in get_flashed_messages(category_filter=["error_email"])%}
            {{message}}
        {%endfor%} -->
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="">
        <!-- {%for message in get_flashed_messages(category_filter=["error_password"])%}
            {{message}}
        {%endfor%} -->
        <br>
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" name="confirm_password" id="confirm_password">
        <!-- {%for message in get_flashed_messages(category_filter=["error_password"])%}
            {{message}}
        {%endfor%} -->
        <br>
        <button>Register</button>
    </form>
    
    <form action="/login" method = 'post'>
        <label for="log_email">Email: </label>
        <input type="text" name="log_email" id="log_email">
        <br>
        <label for="log_password">Password: </label>
        <input type="password" name="log_password" id="log_password">
        <br>
        <button>Login</button>
    </form>
</body>
</html>