<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
</head>
<body>
    <div>
        <h1>New Dojo</h1>
        <form action="/new/dojo" method="post">
            <label for="name">Name: </label>
            <input type="text" name="name" id="name">
            <button>Create</button>
        </form>
    </div>
    <div>
        <h1>All Dojos</h1>
        <table>
        {% for dojo in dojos:%}
            <tr>
                <td>
                    <a href="/show/{{dojo.id}}">{{dojo.name}}</a>
                </td>
            </tr>  
        {%endfor%}
        </table>
        <a href="/new/ninja">Add Ninja</a>
    </div>
</body>
</html>