html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5px;
}

.center {
  display: flex;
  justify-content: center;
}

span {
  color: red;
}

table {
  border-collapse: collapse;
  min-width: 400px;
  font-size: 20px;
  box-shadow: 2px 2px black;
  margin-top: 80px;
  text-align: left;
}

thead tr {
  background-color: lightgray;
  height: 10px;
}

tr {
  background-color: whitesmoke;
  border-bottom: 1px solid black;
}

td {
  outline: 1px solid black;
}