<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
    <link rel="stylesheet" href="~/CSS/resultStyle.css">
</head>
@using DojoSurveyValidation.Models
<body>
    <div id="info">
        <h1>Submitted Info</h1>
        <div id="data">
            @model User
            <table>
                <tr>
                    <td>Name:</td>
                    <td><p>@Model.Name</p></td>
                </tr>
                <tr>
                    <td>Dojo Location:</td>
                    <td><p>@Model.Location</p></td>
                </tr>
                <tr>
                    <td>Favorite Language:</td>
                    <td><p>@Model.Language</p></td>
                </tr>
                <tr>
                    <td>Comment:</td>
                    <td><p>@Model.Comment</p></td>
                </tr>
            </table>
        </div>
        <a href="/">Go Back</a>
    </div>
</body>
</html>