* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

#nav_container {
    background-color: rgb(32, 32, 32);
    height: 80px;
    color: whitesmoke;
}

#nav_bar {
    height: 80px;
    margin: 20px 300px 0px 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    /* outline: 1px solid blue; */
}

#nav_left {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: space-between;
}

#nav_btns {
    display: flex;
    list-style-type: none;
    margin: 0px 30px;
    justify-content: space-evenly;
    width: 400px;
    font-size: 20px;
}

#nav_right {
    flex: 1;
}

#sign_out {
    color: whitesmoke;
    padding: 3px 10px;
    background-color: rgb(67, 178, 167);
    font-size: 18px;
    border: 4px solid black;
    border-radius: 4px;
}

#profile {
    font-size: 40px;
}

#content {
    outline: 1px solid orange;
    margin: 0px 300px;
}

.active {
    font-weight: 600;
}

#left_col {
    outline: 1px solid green;
    flex: 2;
}

#right_col {
    outline: 1px solid brown;
    flex: 1;
}