<div class="contents">
    <div>
        <h1>Register</h1>
        <partial name="RegisterUserPartial"/>
    </div>
    <div>
        <h1>Log In</h1>
        <partial name="LoginPartial"/>
    </div>
</div>