@using WeddingPlanner.Models
@model User

<div>
    <form asp-action="ProcessNewUser" asp-controller="Users" method="post">
        <div>
            <span asp-validation-for="FirstName"></span>
            <label asp-for="FirstName">First Name</label>
            <input asp-for="FirstName">

            <span asp-validation-for="LastName"></span>
            <label asp-for="LastName">Last Name</label>
            <input asp-for="LastName">

            <span asp-validation-for="Email"></span>
            <label asp-for="Email">Email</label>
            <input asp-for="Email">

            <span asp-validation-for="Password"></span>
            <label asp-for="Password">Password</label>
            <input asp-for="Password">

            <span asp-validation-for="Confirm"></span>
            <label asp-for="Confirm">Confirm Password</label>
            <input asp-for="Confirm">

            <button>Sign Up</button>
        </div>

    </form>
</div>